.container {
    height: 100%;
    align-items: center;
    justify-content: center;
}

.help-text {
    color: red;
}

.form-layout {
    max-width: 740px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-layout .form-outer {
    flex: 1;
    display: inline-block;
    width: 100%;
    border-radius: 6px;
    transition: all .3s;
    padding: 0;
    background-color: #302f32;
    border: 1px solid #545454;
}

.form-layout .form-outer .form-header {
    padding: 12px 20px;
    border: 1px solid #545454;
    transition: all .3s;
}

.form-layout .form-outer .form-header .left h3 {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.3;
    color: #e8e4e7;
}

.buttons:last-child {
    margin-bottom: -.5rem;
}

.buttons {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.button.v-button {
    padding: 8px 22px;
    height: 38px;
    line-height: 1.1;
    font-size: .95rem;
    background-color: #179977;
    border: 1px solid #3aad8e;
    border-radius: 6px;
    color: #e8e4e7;
    transition: all .3s;
    cursor: pointer;
}

span {
    font-style: inherit;
    font-weight: inherit;
}

.buttons .button {
    margin-bottom: .5rem;
}

.form-layout .form-outer .form-header .form-header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-layout .form-outer .form-body {
    padding: 20px 40px 40px;
}

.form-fieldset {
    padding: 20px 0;
    max-width: 480px;
    margin: 0 auto;
}

.form-fieldset .fieldset-heading {
    margin-bottom: 20px;
}

.form-fieldset .fieldset-heading h4 {
    color: #e8e4e7;
}

.form-fieldset .fieldset-heading p {
    font-size: .9rem;
    color: #e8e4e7;
}

.form-fieldset .columns .column {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.columns {
    margin-inline-start: -.75rem;
    margin-inline-end: -.75rem;
    margin-top: -.75rem;
}

.field>label {
    font-size: .9rem;
    color: #e8e4e7;
    font-weight: 400;
    display: block;
}

.control {
    box-sizing: border-box;
    clear: both;
    font-size: 1rem;
    position: relative;
    text-align: inherit;
}

.control.has-icon .input{
    height: 38px;
    width: 100%;
    padding-inline-start: 38px;
    transition: all .3s;
    background-color: #302f32;
    border: 1px solid #545454;
    color: #e8e4e7;
}


.dob-country {
    display: flex;
}

.dob-country>.control.has-icon .input {
    height: 38px;
    padding-inline-start: 38px;
    transition: all .3s;
    background-color: #302f32;
    border: 1px solid #545454;
    color: #e8e4e7;
}

select{
    height: 38px;
    padding-inline-start: 38px;
    transition: all .3s;
    background-color: #302f32;
    border: 1px solid #545454;
    color: #e8e4e7;
}

.control.has-icon .form-icon {
    color: #e8e4e7;
    position: absolute;
    top: 0;
    inset-inline-start: 0;
    height: 38px;
    width: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button.v-button:hover {
    background-color: #3aad8e;
    border-color: transparent;
    color: #e8e4e7;
}


input[type="date"] {
    display: block;
    position: relative;
    padding: 1rem 3.5rem 1rem 0.75rem;
    color:  #e8e4e7; 
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' viewBox='0 0 20 22'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23e8e4e7' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' transform='translate(1 1)'%3E%3Crect width='18' height='18' y='2' rx='2'/%3E%3Cpath d='M13 0L13 4M5 0L5 4M0 8L18 8'/%3E%3C/g%3E%3C/svg%3E") right 1rem center no-repeat;
    cursor: pointer;
}

input:focus {
    outline: none;
    border: 1px solid #3aad8e;
    box-shadow: 0 0 0 0.25rem rgba(0, 120, 250, 0.1);
}

select:focus {
    outline: none;
    border: 1px solid #3aad8e;
    box-shadow: 0 0 0 0.25rem rgba(0, 120, 250, 0.1);
}


::-webkit-datetime-edit-month-field:hover,
::-webkit-datetime-edit-day-field:hover,
::-webkit-datetime-edit-year-field:hover {
  background:rgba(0, 120, 250, 0.1);
}
::-webkit-datetime-edit-text {
  opacity:0;
}
::-webkit-clear-button,
::-webkit-inner-spin-button {
  display:none;
}
::-webkit-calendar-picker-indicator {
  position:absolute;
  width:2.5rem;
  height:100%;
  top:0;
  right:0;
  bottom:0;
  
  opacity:0;
  cursor:pointer;
  
  color:rgba(0, 120, 250, 1);
  background:rgba(0, 120, 250, 1);
 
}


@media screen and (min-width: 769px),
print {

    .column.is-6,
    .column.is-6-tablet {
        flex: none;
        width: 50%;
    }
}