.card {
    position: relative;
    padding: 1.5em 0.5em 0.5em;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-color: #302f32;
    border: 1px solid #545454;
}

.card-title {
    font-weight: bold;
    font-size: 1.5em;
}

.card>.pic {
    margin: 0 auto 4px;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    max-width: 80px;
    min-width: 80px;
    height: 80px;
    text-align: center;
}

.card>.pic>img {
    display: block;
    border-radius: 9999px;

}


.card>.pic>.avtar {
    width: 80px;
    min-width: 80px;
    height: 80px;
    object-fit: cover;
    /* width: 30%;
    border-radius: 50%; */
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card>.pic>.badges {
    position: absolute;
    border-width: 2.4px;
    height: 28px;
    width: 28px;
    border: 1px solid #545454;
    bottom: 0;
    inset-inline-end: 0;
}

.card>.description {
    padding: 20px;
    line-height: 24px;
}

.card>.description>.person-name>h4 {
    font-size: 1.1rem;
    font-weight: 600;
    color: #e8e4e7;
}

.card>.description>.person-name>span,p {
    font-size: .85rem;
    font-weight: 300;
    color: #e8e4e7;
}

.card:hover {
    border: 1px solid #3aad8e;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


@media only screen and (max-width: 990px) {
    .card {
        margin-bottom: 25px;
    }
}