<div class="container">
    <div class="card" (click)="navigateToEdit(person.id)">
        <div class="pic">
            <img class="avtar" src="{{person.avatar}}" alt="{{person.name}}" title="{{ person.name }}">
            <img class="badges" [src]="person.country | countryFlag" alt="{{ person.country }} flag" title="{{ person.country }}">
        </div>
       
        <div class="description">
            <div class="person-name">
                <h4 class="mt-0">{{person.name}}</h4>
                <span>{{person.email}}</span>
                <p class="mb-0 mt-0">Age: {{ person.dob | age }}</p>
            </div>
        </div>
    </div>
</div>

